body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: inherit;
}



.nav {
	font-size: 14px;
	line-height: 1.86;
	font-weight: bold;
}

.nav-link:hover {
	color: #81b3d2;
}

.nav-link:active {
	color: #cacaca;
}

.nav-link:focus {
	color: #766357;
}

.nav-link-current {
	color: #766357
}



.nav-list,
.features-list,
.features-list-hints,
.footer-social-list,
.filter-list,
.sorter-list,
.results-list {
	list-style: none;
}



.filter {
	background: #81b3d2 url(../img/hotels-background.jpg) no-repeat;
}

.filter-group {
  border: none;
}

.filter-title {
	font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  color: #fff;
}

.filter-name {
  font-size: 14px;
  line-height: 1.5;  
  color: #fff;
}

.filter-btn {
	font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
	background-color: transparent;
  border: 2px solid #fff;
}

.filter-btn:hover {
	color: #000;
	background-color: #fff;
}



.sorter-subtitle {
	font-weight: bold;
	font-size: 21px;
	line-height: 1.24;
}

.sorter-settings {
	font-size: 12px;
	line-height: 1.5;
}

.sorter-link {
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.sorter-link-current {
  color: #81b3d2;
  border-bottom: none;	
}

.sorter-link:hover {
	color: #81b3d2;
}

.sorter-link:active {
  color: #000;
  border-bottom: none;
}

.sorter-min-max-link {
	color: #cacaca;
}

.sorter-min-max-link:hover {
	color: #000;
}

.sorter-min-max-link:active {
	color: #81b3d2;
}



.results-request {
	font-weight: bold;
	font-size: 21px;
	line-height: 1.24;
	color: #000;
}

.results-request:hover {
	color: #81b3d2;
}

.results-request:active {
	color: #cacaca;
}

.results-hotel-stars {
	color: #81b3d2;
}

.results-item b {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.5;
}

.results-read-more,
.results-reserve {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.5;
	color: #fff;
}

.results-read-more {
	background-color: #81b3d2;
}

.results-read-more:hover {
	background-color: #669ec0;
}

.results-read-more:active {
	color: #94b9d2;
	background-color: #5496bd;
}

.results-reserve {
	background-color: #766357;
}

.results-reserve:hover {
	background-color: #604e43;
}

.results-reserve:active {
	color: #928a85;

	background-color: #503e33;
}

.results-hotel-rating {
	background-color: #f2f2f2;
}



.visually-hidden {
	position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px;
  width: 1px; 
  margin: -1px;
  padding: 0;
  border: 0; 
}

.descript {
	font-weight: bold;
	font-size: 21px;
	line-height: 1.24;
	text-align: center;
}



.features-subtitle {
	font-size: 14px;
	line-height: 1.86;
	text-align: center;
}

.features-list li {
	text-align: center; 
}

.features-list b {
	font-size: 21px;
	line-height: 1;
	font-weight: bold;
}

.features-list-hints {
	background-color: #eee;
}



.search {
	text-align: center;
}

.search span {
	font-weight: bold;
	font-size: 30px;
	line-height: 1.2;
}

.search-subtitle {
	font-size: 14px;
	line-height: 1.71;
}

.dropdown {
	font-size: 21px;
	line-height: 1.24;
	font-weight: bold;
	color: #fff;
	background-color: #766357;
}

.dropdown:hover {
	background-color: #604e43;
}

.dropdown:active {
	color: #928a85;
	background-color: #503e33;
} 

.search-form-wrap,
.search-data,
.search-select-btn {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.86;
	text-transform: uppercase;
	border: none;
}

.search-data {
	background-color: #f2f2f2;
}

.search-data:hover {
	background-color: #ebebeb;
}

.search-data:focus {
	background-color: #fff;
	border: 2px solid #e5e5e5;
} 

.search-button, 
.footer-hashtag {
	font-family: inherit;
	font-weight: bold;
	font-size: 21px;
	line-height: 1.24;
	text-transform: uppercase;
	color: #fff;
	border: none;
}

.search-select-btn {
	background-color: #f2f2f2;
}

.search-select-btn:hover {
	background-color: #000;
}

.search-select-btn:active {
	background-color: #81b3d2;
}

.search-button {
	background-color: #81b3d2;
}

.search-button:hover {
	background-color: #669ec0;
}

.search-button:active {
	color: #94b9d2;

	background-color: #5496bd;
} 



.main-footer {
	background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag,
.footer-social,
.footer-copyright {
	text-align: center;
}

.footer-copyright-text {
	font-size: 14px;
	line-height: 1.86;
}
