*,
*::before,
*::after {
  box-sizing: border-box;;
}

body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	width: 1200px;
	margin: 0 40px;  /* временно */
  /*box-shadow: */
  /*outline: 1px solid red;*/
  background-color: #fff;
}

.main-header {
	min-height: 564px;
	text-align: center;
	background: 
		url(../img/index-description.png) no-repeat 50% 62%,
		url(../img/index-shape.png) no-repeat 50% 100%,
		url(../img/index-background.jpg) no-repeat;
}

.nav {
	position: relative;
	background-color: #fff;
}

.nav-header-logo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 138px;
  height: 70px;
  margin: auto;
}

.nav-list {
	display: flex;
	width: 100%;
	min-height: 56px;
	margin: 0;
	padding: 0;
}

.nav-list li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
}

.nav-list li:nth-child(2) {
	margin-right: 10%;
}

.nav-list li:nth-child(3) {
	margin-left: 10%;
}

.nav-link {
	font-weight: bold;
	font-size: 14;
	line-height: 1.5;
}

.nav-link:hover {
	color: #81b3d2;
}

.nav-link:active {
	color: #cacaca;
}

.nav-link:focus {
	color: #766357;
}

.nav-link-current {
	color: #766357
}

.nav-list,
.features-list,
.features-hints-list,
.footer-social-list,
.filter-list,
.sorter-list,
.results-list {
	list-style: none;
}



.filter {
	background: #81b3d2 url(../img/hotels-background.jpg) no-repeat;
}

.filter-group {
  border: none;
}

.filter-title {
	font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  color: #fff;
}

.filter-name {
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}

.filter-btn {
	font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
	background-color: transparent;
  border: 2px solid #fff;
}

.filter-btn:hover {
	color: #000;
	background-color: #fff;
}



.sorter-subtitle {
	font-weight: bold;
	font-size: 21px;
	line-height: 1.24;
}

.sorter-settings {
	font-size: 12px;
	line-height: 1.5;
}

.sorter-link {
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}


.sorter-link:hover {
	color: #81b3d2;
}

.sorter-link:active {
  color: #000;
  border-bottom: none;
}

.sorter-min-max-link {
	color: #cacaca;
}

.sorter-min-max-link:hover {
	color: #000;
}

.sorter-min-max-link:active {
	color: #81b3d2;
}

.sorter-link-current {
  color: #81b3d2;
  border-bottom: none;
}


.results-request {
	font-weight: bold;
	font-size: 21px;
	line-height: 1.24;
	color: #000;
}

.results-request:hover {
	color: #81b3d2;
}

.results-request:active {
	color: #cacaca;
}

.results-hotel-stars {
	color: #81b3d2;
}

.results-item b {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.5;
}

.results-read-more,
.results-reserve {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.5;
	color: #fff;
}

.results-read-more {
	background-color: #81b3d2;
}

.results-read-more:hover {
	background-color: #669ec0;
}

.results-read-more:active {
	color: #94b9d2;
	background-color: #5496bd;
}

.results-reserve {
	background-color: #766357;
}

.results-reserve:hover {
	background-color: #604e43;
}

.results-reserve:active {
	color: #928a85;

	background-color: #503e33;
}

.results-hotel-rating {
	background-color: #f2f2f2;
}



.visually-hidden {
	position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.features-descript-wrap {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	outline: 1px solid #F3ADF3;
}

.features-descript {
	width: 40%;
	font-weight: bold;
	font-size: 21px;
	line-height: 1.24;
	text-align: center;
	margin: 0;
	padding-top: 60px;
}

.features-subtitle {
	margin: 0;
	padding-top: 29px;
	padding-bottom: 50px;
	font-size: 14px;
	line-height: 1.86;
	letter-spacing: 0.01em;
}



.features-list {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin: 0;
	padding: 0;	
}

.features-list li:nth-child(n+6) {
	height: 256px;
	color: #000;
	background: #eee;
	outline: 1px solid #941;
}

.features-item {
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	width: 400px;
	margin: 0;
	padding: 28px 48px;
	text-align: center;
	color: #fff;
	background: #81b3d2;
}

.features-title {
	font-size: 21px;
	line-height: 1;
	font-weight: bold;
}

.features-photo-city {
	width: 800px;
	height: 256px;
	background: url(../img/features-1.jpg) no-repeat center;
}

.features-photo-bridge {
	width: 800px;
	height: 256px;
	background: url(../img/features-2.jpg) no-repeat center;
}

.features-hints {
	width: 100%;
	background-color: #fff;
}

.features-hints-list {
	display: flex;
	flex-flow: row nowrap;
	/*align-items: center;*/
	justify-content: space-around;
	height: 330px;
	margin: 0;
	padding: 0;
}

.features-hints-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	text-align: center;	
}



.search {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	height: 291px;
	text-align: center;
	outline: 1px solid #1d1;
}

.search-title {
	font-weight: bold;
	font-size: 30px;
	line-height: 1.2;	
	outline: 1px solid #10d;
}

.search-subtitle {
	margin: 0;
	font-size: 14px;
	line-height: 1.71;	
	outline: 1px solid #199;
}

.dropdown {
	width: 568px;
	margin-top: auto; 
	font-size: 21px;
	line-height: 1.24;
	font-weight: bold;
	color: #fff;
	background-color: #766357;

	outline: 1px solid #ff0000;
}

.dropdown:hover {
	background-color: #604e43;
}

.dropdown:active {
	color: #928a85;
	background-color: #503e33;
}

.search-form-wrap {
	width: 568px;
	margin: 0;
	outline: 1px solid #ff0;
}

.search-form-wrap,
.search-data,
.search-select-btn {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.86;
	text-transform: uppercase;
	border: none;
}

.search-data {
	background-color: #f2f2f2;
}

.search-data:hover {
	background-color: #ebebeb;
}

.search-data:focus {
	background-color: #fff;
	border: 2px solid #e5e5e5;
}

.search-button,
.footer-hashtag {
	font-family: inherit;
	font-weight: bold;
	font-size: 21px;
	line-height: 1.24;
	text-transform: uppercase;
	color: #fff;
	border: none;
}

.search-select-btn {
	background-color: #f2f2f2;
}

.search-select-btn:hover {
	background-color: #000;
}

.search-select-btn:active {
	background-color: #81b3d2;
}

.search-button {
	background-color: #81b3d2;
}

.search-button:hover {
	background-color: #669ec0;
}

.search-button:active {
	color: #94b9d2;

	background-color: #5496bd;
}

.modal-map {
	height: 473px;
	background-color: #fde3;
}

.main-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 120px;
	outline: 1px solid #21E5ED;

}

.footer-hashtag,
.footer-social,
.footer-copyright {
	color: #000;
	text-align: center;
}


.footer-copyright {
	display: flex;
	align-items: center;
}

.footer-copyright-text {
	font-size: 14px;
	line-height: 1.86;
}

/* --- Сеточные стили --- */

